body {
	margin: 20px;
}

#destacados {
	background-color: #669999;
}

#ofertas {
	background-color: #F7D988;
}

#disponible {
	background-color: #F7A188;
}

#contenido > section > h1 {
	padding: 10px;
	text-align: center;
}

footer {
	margin-top: 10px;
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}
/**** 1.- Crea una diagramación de tres filas con display flex ****/
.contenedor{
	display:flex;
	flex-direction: row;
}
/**** 1.- Crea una diagramación de tres filas con display flex ****/

/**** 2.- Agrega a la clase column diagramación en columnas ****/
#contenido{
	display:flex;
	flex-direction: column;
} 
/**** 2.- Agrega a la clase column diagramación en columnas ****/

/**** 3.- En la primera fila de "productos destacados" crea una diagramación de 2 columnas y cada producto tendrá
la mitad del espacion 50% ****/
#destacados .contenedor > div{
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: white;
	width: 50%;
}
/**** 3.- En la primera fila de "productos destacados" crea una diagramación de 2 columnas y cada producto tendrá
la mitad del espacion 50% ****/

/**** 4.- En la primera fila de "productos destacados" crea una diagramación de 3 columnas y cada producto tendrá
un tercio del espacio 33.3# ****/
#ofertas .contenedor > div{
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color:white;
	width: 33.3%;
}
/**** 4.- En la primera fila de "productos destacados" crea una diagramación de 3 columnas y cada producto tendrá
un tercio del espacio 33.3# ****/

/**** 5.- En la primera fila de "productos destacados" crea una diagramación de 4 columnas y cada producto tendrá
un cuarto del espacio 25% ****/
#disponible .contenedor > div{
	text-align: center;
	padding: 10px;
	border: solid 5px coral;
	background-color: white;
	width: 25%;
}
